<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.notebook.mapper.NoteShareMapper">

    <resultMap type="NoteShare" id="NoteShareResult">
        <result property="contentId" column="content_id"/>
        <result property="title" column="title"/>
        <result property="shareSecret" column="share_secret"/>
        <result property="shareDays" column="share_days"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteShareVo">
        select s.content_id,
               c.title,
               s.share_secret,
               s.share_days,
               s.create_by,
               s.create_time,
               s.update_by,
               s.update_time,
               s.remark
        from note_share s
                 left join note_content c on s.content_id = c.id
    </sql>

    <select id="selectNoteShareList" resultMap="NoteShareResult">
        <include refid="selectNoteShareVo"/>
        <where>
            <if test="data.title != null  and data.title != ''">and c.title like concat('%', #{data.title}, '%')</if>
            <if test="data.shareSecret != null  and data.shareSecret != ''">and s.share_secret = #{data.shareSecret}</if>
            <if test="data.shareDays != null ">and s.share_days = #{data.shareDays}</if>
        </where>
    </select>

    <select id="selectNoteShareByContentId" parameterType="Long" resultMap="NoteShareResult">
        <include refid="selectNoteShareVo"/>
        where content_id = #{contentId}
    </select>
    
</mapper>
