<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.notebook.mapper.NoteContentMapper">

    <resultMap type="NoteContent" id="NoteContentResult">
        <result property="id" column="id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="rank" column="rank"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteContentVo">
        select co.id,
               co.catalog_id,
               co.title,
               co.content,
               co.rank,
               co.del_flag,
               co.create_by,
               co.create_time,
               co.update_by,
               co.update_time,
               co.remark
        from note_content co
               left join note_catalog ca on co.catalog_id = ca.id
        where co.del_flag = '0'
    </sql>

    <select id="selectNoteContentList" resultMap="NoteContentResult">
        <include refid="selectNoteContentVo"/>
        <if test="data.catalogId != null ">
            and (
                co.catalog_id = #{data.catalogId}
                or
                find_in_set(#{data.catalogId}, ca.ancestors)
            )
        </if>
        <if test="data.searchValue != null and data.searchValue != ''">
            and (
                co.title like concat('%', #{data.searchValue},'%') 
                or
                co.content like concat('%', #{data.searchValue}, '%')
            )
        </if>
        order by co.update_time desc
    </select>

</mapper>
