<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.notebook.mapper.NoteCatalogMapper">

    <resultMap type="NoteCatalog" id="NoteCatalogResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="orderNum" column="order_num"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteCatalogVo">
        select nc.id,
               nc.parent_id,
               nc.name,
               nc.order_num,
               nc.del_flag,
               nc.create_by,
               nc.create_time,
               nc.update_by,
               nc.update_time,
               nc.remark
        from note_catalog nc
        left join sys_user u on nc.create_by = u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
        where nc.del_flag = '0'
    </sql>

    <select id="selectNoteCatalogList" parameterType="NoteCatalog" resultMap="NoteCatalogResult">
        <include refid="selectNoteCatalogVo"/>
        <if test="parentId != null ">and nc.parent_id = #{parentId}</if>
        <if test="name != null  and name != ''">and nc.name like concat('%', #{name}, '%')</if>
        <if test="orderNum != null ">and nc.order_num = #{orderNum}</if>
        ${dataScope}
        order by nc.order_num asc
    </select>

</mapper>
