<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.notebook.mapper.NoteContentMapper">

    <resultMap type="NoteContent" id="NoteContentResult">
        <result property="id" column="id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="rank" column="rank"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteContentVo">
        select id,
               catalog_id,
               title,
               content,
               rank,
               delete_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from note_content
    </sql>

    <select id="selectNoteContentList" resultMap="NoteContentResult">
        <include refid="selectNoteContentVo"/>
        <where>
            <if test="data.searchValue != null and data.searchValue != ''">and (title like concat('%', #{data.searchValue}, '%') or
                content like concat('%', #{data.searchValue}, '%'))
            </if>
            <if test="data.catalogId != null ">and catalog_id = #{data.catalogId}</if>
            <if test="data.title != null  and data.title != ''">and title = #{data.title}</if>
            <if test="data.content != null  and data.content != ''">and content = #{data.content}</if>
            <if test="data.rank != null ">and rank = #{data.rank}</if>
            <if test="data.deleteFlag != null ">and delete_flag = #{data.deleteFlag}</if>
        </where>
        order by id desc
    </select>

</mapper>
