<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.notebook.mapper.NoteHistoryMapper">

    <resultMap type="NoteHistory" id="NoteHistoryResult">
        <result property="id" column="id"/>
        <result property="contentId" column="content_id"/>
        <result property="catalogId" column="catalog_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="rank" column="rank"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteHistoryVo">
        select id,
               content_id,
               catalog_id,
               title,
               content,
               rank,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from note_history
    </sql>

    <select id="selectNoteHistoryList" parameterType="NoteHistory" resultMap="NoteHistoryResult">
        <include refid="selectNoteHistoryVo"/>
        <where>
            <if test="contentId != null ">and content_id = #{contentId}</if>
            <if test="catalogId != null ">and catalog_id = #{catalogId}</if>
            <if test="title != null ">and title = #{title}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="rank != null ">and rank = #{rank}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectNoteHistoryById" parameterType="Long" resultMap="NoteHistoryResult">
        <include refid="selectNoteHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertNoteHistory" parameterType="NoteHistory" useGeneratedKeys="true" keyProperty="id">
        insert into note_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contentId != null">content_id,</if>
            <if test="catalogId != null">catalog_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="rank != null">rank,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contentId != null">#{contentId},</if>
            <if test="catalogId != null">#{catalogId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="rank != null">#{rank},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateNoteHistory" parameterType="NoteHistory">
        update note_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="contentId != null">content_id = #{contentId},</if>
            <if test="catalogId != null">catalog_id = #{catalogId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="rank != null">rank = #{rank},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNoteHistoryById" parameterType="Long">
        delete
        from note_history
        where id = #{id}
    </delete>

    <delete id="deleteNoteHistoryByIds" parameterType="String">
        delete from note_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
