<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.notebook.mapper.NoteCatalogMapper">

    <resultMap type="NoteCatalog" id="NoteCatalogResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="rank" column="rank"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteCatalogVo">
        select id,
               parent_id,
               name,
               rank,
               delete_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from note_catalog
    </sql>

    <select id="selectNoteCatalogList" parameterType="NoteCatalog" resultMap="NoteCatalogResult">
        <include refid="selectNoteCatalogVo"/>
        <where>
            <if test="parentId != null ">and parent_id = #{parentId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="rank != null ">and rank = #{rank}</if>
            <if test="deleteFlag != null ">and delete_flag = #{deleteFlag}</if>
        </where>
        order by rank asc
    </select>
    
</mapper>
