/* 左侧大纲 */
.left {
    position: fixed;
    width: 300px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border-right: 1px solid #eaecef;
}

.left .outline .title {
    padding: 0 20px 0 20px;
}

.left .outline #outline {
    margin-top: 10px;
}

/* 右侧内容 */
.right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 301px;
}

/* 标题 */
.right .header {
    position: fixed;
    top: 0px;
    height: 50px;
    width: calc(100% - 301px);
    background-color: #ffffff;
    border-bottom: 1px solid #eaecef;
    z-index: 999;
}

.right .header h1 {
    line-height: 50px;
    font-weight: 500;
    text-align: center;
}

/* 内容 */
.right .preview {
    margin-top: 50px;
    padding: 0px 30px 20px 30px;
}

.right .preview .meta {
    margin-top: 20px;
    text-align: center;
}

/* Markdown预览 */
.right .preview #preview {
    padding-top: 10px;
}

.right .preview ul li,
.right .preview ol li {
    list-style: inherit !important;
    margin-left: 0px !important;
}

.right .preview .vditor-task {
    list-style: none !important;
}

.right .preview .vditor-reset {
    line-height: unset;
}

.right .preview .vditor-reset h2,
.right .preview .vditor-reset h3,
.right .preview .vditor-reset h4,
.right .preview .vditor-reset h5,
.right .preview .vditor-reset h6 {
    margin: 0.6em;
    margin-left: 0em;
}

.right .preview pre code {
    overflow-y: auto;
    overflow-x: auto;
    line-height: 1.75 !important;
}

.right .preview .vditor-linenumber {
    padding-left: 3em !important;
}

.right .preview pre code::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.right .preview pre code::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    outline: none;
    border-radius: 2px;
}

.right .preview pre code::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}

.right .preview .vditor-reset > table {
    border: 0px;
}
