<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/static/main/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item">
                <a href="http://blog.devzyh.cn" target="_blank"><i class="layui-icon">&#xe674;</i>博客</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://gitee.com/devzyh" target="_blank"><i class="layui-icon">&#xe64e;</i>代码</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://www.kdocs.cn/view/l/smoDh9Bbssor" target="_blank"><i class="layui-icon">&#xe62e;</i>技能树</a>
            </li>
        </ul>

        <ul class="layui-nav fly-nav-user">

        </ul>
    </div>
</div>
