<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.framework.mapper.SysLoginLogMapper">

    <resultMap type="cn.devzyh.xhub.framework.domain.SysLoginLog" id="SysLoginLogResult">
        <id property="infoId" column="info_id"/>
        <result property="userName" column="user_name"/>
        <result property="status" column="status"/>
        <result property="ipaddr" column="ipaddr"/>
        <result property="msg" column="msg"/>
        <result property="loginTime" column="login_time"/>
    </resultMap>

    <select id="selectLoginLogList" parameterType="SysLoginLog" resultMap="SysLoginLogResult">
        select info_id, user_name, ipaddr, status, msg, login_time from sys_login_log
        <where>
            <if test="log.ipaddr != null and log.ipaddr != ''">
                AND ipaddr like concat('%', #{log.ipaddr}, '%')
            </if>
            <if test="log.status != null and log.status != ''">
                AND status = #{log.status}
            </if>
            <if test="log.userName != null and log.userName != ''">
                AND user_name like concat('%', #{log.userName}, '%')
            </if>
            <if test="log.beginTime != null and log.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(login_time,'%y%m%d') &gt;= date_format(#{log.beginTime},'%y%m%d')
            </if>
            <if test="log.endTime != null and log.endTime != ''"><!-- 结束时间检索 -->
                and date_format(login_time,'%y%m%d') &lt;= date_format(#{log.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <update id="cleanLoginLog">
        truncate table sys_login_log
    </update>

</mapper> 
