<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.toolbox.mapper.ToolFavoriteMapper">

    <select id="selectAll" resultType="ToolFavorite">
        SELECT id,
               item,
               name,
               href,
               remark,
               icon,
               seq,
               target
        FROM tool_favorite
        ORDER BY item, seq
    </select>

    <select id="search" parameterType="string" resultType="ToolFavorite">
        SELECT id,
               item,
               name,
               href,
               remark,
               icon,
               seq,
               target
        FROM tool_favorite
        WHERE name LIKE CONCAT('%', #{key}, '%')
        ORDER BY item, seq
    </select>

    <resultMap type="ToolFavorite" id="ToolFavoriteResult">
        <result property="id" column="id"/>
        <result property="item" column="item"/>
        <result property="name" column="name"/>
        <result property="href" column="href"/>
        <result property="remark" column="remark"/>
        <result property="icon" column="icon"/>
        <result property="seq" column="seq"/>
        <result property="target" column="target"/>
    </resultMap>

    <sql id="selectToolFavoriteVo">
        select id,
               item,
               name,
               href,
               remark,
               icon,
               seq,
               target
        from tool_favorite
    </sql>

    <select id="selectToolFavoriteList" parameterType="ToolFavorite" resultMap="ToolFavoriteResult">
        <include refid="selectToolFavoriteVo"/>
        <where>
            <if test="item != null  and item != ''">and item = #{item}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="href != null  and href != ''">and href = #{href}</if>
            <if test="icon != null  and icon != ''">and icon = #{icon}</if>
            <if test="seq != null ">and seq = #{seq}</if>
            <if test="target != null  and target != ''">and target = #{target}</if>
        </where>
    </select>

    <select id="selectToolFavoriteById" parameterType="Long" resultMap="ToolFavoriteResult">
        <include refid="selectToolFavoriteVo"/>
        where id = #{id}
    </select>

    <insert id="insertToolFavorite" parameterType="ToolFavorite" useGeneratedKeys="true" keyProperty="id">
        insert into tool_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item != null and item != ''">item,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="href != null and href != ''">href,</if>
            <if test="remark != null">remark,</if>
            <if test="icon != null">icon,</if>
            <if test="seq != null">seq,</if>
            <if test="target != null and target != ''">target,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="item != null and item != ''">#{item},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="href != null and href != ''">#{href},</if>
            <if test="remark != null">#{remark},</if>
            <if test="icon != null">#{icon},</if>
            <if test="seq != null">#{seq},</if>
            <if test="target != null and target != ''">#{target},</if>
        </trim>
    </insert>

    <update id="updateToolFavorite" parameterType="ToolFavorite">
        update tool_favorite
        <trim prefix="SET" suffixOverrides=",">
            <if test="item != null and item != ''">item = #{item},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="href != null and href != ''">href = #{href},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="seq != null">seq = #{seq},</if>
            <if test="target != null and target != ''">target = #{target},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteToolFavoriteById" parameterType="Long">
        delete
        from tool_favorite
        where id = #{id}
    </delete>

    <delete id="deleteToolFavoriteByIds" parameterType="String">
        delete from tool_favorite where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
