<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.toolbox.mapper.ToolArticleMapper">

    <resultMap type="ToolArticle" id="ToolArticleResult">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="digest" property="digest"/>
        <result column="source" property="source"/>
        <result column="created" property="created"/>
        <collection property="tags" ofType="string" javaType="java.util.List">
            <result column="tag_code"/>
        </collection>
    </resultMap>

    <sql id="selectToolArticleVo">
        select id, title, url, digest, source, created, tag_code
        from tool_article
                 left join tool_article_tag on tool_article.id = tool_article_tag.article_id
    </sql>

    <select id="selectToolArticleList" parameterType="ToolArticle" resultMap="ToolArticleResult">
        <include refid="selectToolArticleVo"/>
        <where>
            <if test="title != null  and title != ''">and title LIKE CONCAT('%', #{title}, '%')</if>
            <if test="url != null  and url != ''">and url = #{url}</if>
            <if test="digest != null  and digest != ''">and digest LIKE CONCAT('%', #{digest}, '%')</if>
            <if test="source != null  and source != ''">and source = #{source}</if>
            <if test="created != null ">and created = #{created}</if>
            <if test="tags != null ">and tag_code in
                <foreach item="tag" collection="tags" open="(" separator="," close=")">
                    #{tag}
                </foreach>
            </if>
        </where>
        order by created desc, id desc
    </select>

    <select id="selectToolArticleById" parameterType="Long" resultMap="ToolArticleResult">
        <include refid="selectToolArticleVo"/>
        where tool_article.id = #{id}
    </select>

    <insert id="insertToolArticle" parameterType="ToolArticle" useGeneratedKeys="true" keyProperty="id">
        insert into tool_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="digest != null">digest,</if>
            <if test="source != null">source,</if>
            <if test="created != null">created,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="digest != null">#{digest},</if>
            <if test="source != null">#{source},</if>
            <if test="created != null">#{created},</if>
        </trim>
    </insert>

    <update id="updateToolArticle" parameterType="ToolArticle">
        update tool_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="digest != null">digest = #{digest},</if>
            <if test="source != null">source = #{source},</if>
            <if test="created != null">created = #{created},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteToolArticleById" parameterType="Long">
        delete
        from tool_article
        where id = #{id}
    </delete>

    <delete id="deleteToolArticleByIds" parameterType="String">
        delete from tool_article where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteToolArticleTagsById" parameterType="Long">
        delete
        from tool_article_tag
        where article_id = #{id}
    </delete>

    <insert id="insertToolArticleTags" parameterType="ToolArticle">
        insert into tool_article_tag (article_id, tag_code) values
        <foreach item="tag" collection="tags" separator=",">
            ( #{id}, #{tag} )
        </foreach>
    </insert>

</mapper>
