<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.toolbox.mapper.ToolNoteMapper">

    <select id="selectNoteById" parameterType="Long" resultType="Note">
        select c.id,
               c.title,
               c.content,
               c.create_by,
               c.create_time,
               c.update_by,
               c.update_time,
               c.remark,
               s.share_secret,
               s.share_days,
               s.update_time share_update_time
        from note_content c
                 left join note_share s on c.id = s.content_id
        where c.id = #{id} limit 1
    </select>

</mapper>
