<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="${'JSON编辑器-'+title}">JSON编辑器</title>
    <link rel="icon" href="/assets/favicon.svg" type="image/x-icon">
    <link href="/assets/tool/json/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/tool/json/jsoneditor.min.js"></script>
</head>
<body>
<div id="jsoneditor" style="height: 97vh;"></div>

<script>
    const container = document.getElementById("jsoneditor")
    const options = {
        "mode": "code"
    }
    const editor = new JSONEditor(container, options)
</script>
</body>
</html>
