<div class="header">
    <h1 class="site-title"><a href="/" th:text="${title}">title</a></h1>

    <div>
        <div class="form input-icon">
            <input type="text" id="searchKey" value="" class="form-control" placeholder="善用搜索，事半功倍"
                   autocomplete="off"/>
            <button type="button" id="search" class="btn-icon"><i class="czs-search-l"></i></button>
        </div>
    </div>

    <div class="store-type">
        <a class="store-btn" th:href="${blog}">博客</a>
        <a class="store-btn" href="https://gitee.com/devzyh">代码</a>
        <a class="store-btn" href="https://www.kdocs.cn/view/l/smoDh9Bbssor">技能</a>
        <a class="store-btn" href="/admin">登录</a>
    </div>
</div>
