<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.notebook.mapper.NoteShareMapper">

    <resultMap type="NoteShare" id="NoteShareResult">
        <result property="contentId"    column="content_id"    />
        <result property="shareSecret"    column="share_secret"    />
        <result property="shareDays"    column="share_days"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNoteShareVo">
        select ns.content_id, nc.title, ns.share_secret, ns.share_days, ns.create_by, ns.create_time, ns.update_by,
               ns.update_time, ns.remark from note_share  ns left join note_content nc on ns.content_id = nc.id
    </sql>

    <select id="selectNoteShareList" parameterType="NoteShare" resultMap="NoteShareResult">
        <include refid="selectNoteShareVo"/>
        <where>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="shareSecret != null  and shareSecret != ''"> and share_secret = #{shareSecret}</if>
            <if test="shareDays != null "> and share_days = #{shareDays}</if>
        </where>
    </select>

    <select id="selectNoteShareByContentId" parameterType="Long" resultMap="NoteShareResult">
        <include refid="selectNoteShareVo"/>
        where content_id = #{contentId}
    </select>

    <insert id="insertNoteShare" parameterType="NoteShare">
        insert into note_share
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contentId != null">content_id,</if>
            <if test="shareSecret != null">share_secret,</if>
            <if test="shareDays != null">share_days,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contentId != null">#{contentId},</if>
            <if test="shareSecret != null">#{shareSecret},</if>
            <if test="shareDays != null">#{shareDays},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateNoteShare" parameterType="NoteShare">
        update note_share
        <trim prefix="SET" suffixOverrides=",">
            <if test="shareSecret != null">share_secret = #{shareSecret},</if>
            <if test="shareDays != null">share_days = #{shareDays},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where content_id = #{contentId}
    </update>

    <delete id="deleteNoteShareByContentId" parameterType="Long">
        delete from note_share where content_id = #{contentId}
    </delete>

    <delete id="deleteNoteShareByContentIds" parameterType="String">
        delete from note_share where content_id in
        <foreach item="contentId" collection="array" open="(" separator="," close=")">
            #{contentId}
        </foreach>
    </delete>
</mapper>
