<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我们的时光</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/caom/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/caom/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/caom/css/caom.css">
    <link rel="shortcut icon" href="favicon.svg"/>
</head>

<body>
<div class="main">
    <div class="container">
        <div class="text-center">
            <p class="max-title">我们已经在一起</p>
        </div>
    </div>
    <br/>
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <div class="counter-content">
                        <i class="counter-icon fa fa-bicycle"></i>
                        <span class="counter-value" id="day">0</span>
                        <h3 class="title">天(Day)</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <div class="counter-content">
                        <i class="counter-icon fa fa-car"></i>
                        <span class="counter-value" id="hour">0</span>
                        <h3 class="title">时(Hour)</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <div class="counter-content">
                        <i class="counter-icon fa fa-train"></i>
                        <span class="counter-value" id="min">0</span>
                        <h3 class="title">分(Min)</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <div class="counter-content">
                        <i class="counter-icon fa fa-plane"></i>
                        <span class="counter-value" id="sec">0</span>
                        <h3 class="title">秒(Sec)</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/assets/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/assets/caom/js/caom.js" type="text/javascript"></script>
</body>
</html>
