<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${title}">title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.6.10/css/layui.min.css">
    <link rel="stylesheet" href="/static/main/main.css">
</head>
<body>

<div th:include="header"></div>

<div class="layui-container">
    <table class="layui-table layui-text toobox-search">
        <tr>
            <td colspan="3" style="text-align: center"><b>资源搜索</b></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <div class="layui-form layui-form-item" style="margin-bottom: 0px;">
                    <label class="layui-form-label">
                        <select id="searchType">
                            <option value="article" selected="selected">文章</option>
                            <option value="favorite">收藏</option>
                        </select>
                    </label>
                    <div class="layui-input-block" style="padding-top: 9px;padding-right: 15px;">
                        <input id="searchKey" type="text" placeholder="输入关键词后按回车进行搜索" class="layui-input"/>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="layui-table layui-text">
        <colgroup>
            <col width="150">
            <col>
            <col width="60">
        </colgroup>

        <tr>
            <td colspan="3" style="text-align: center"><b>数据编辑</b></td>
        </tr>
        <tr th:each="favorite: ${favorites.editor}">
            <td th:text="${favorite.name}"></td>
            <td th:text="${favorite.remark}"></td>
            <td><a class="layui-btn layui-btn-xs" th:href="${favorite.href}" th:target="${favorite.target}">访问</a></td>
        </tr>

        <tr>
            <td colspan="3" style="text-align: center"><b>辅助工具</b></td>
        </tr>
        <tr th:each="favorite: ${favorites.helper}">
            <td th:text="${favorite.name}"></td>
            <td th:text="${favorite.remark}"></td>
            <td><a class="layui-btn layui-btn-xs" th:href="${favorite.href}" th:target="${favorite.target}">访问</a></td>
        </tr>

        <tr>
            <td colspan="3" style="text-align: center"><b>文档链接</b></td>
        </tr>
        <tr th:each="favorite: ${favorites.document}">
            <td th:text="${favorite.name}"></td>
            <td th:text="${favorite.remark}"></td>
            <td><a class="layui-btn layui-btn-xs" th:href="${favorite.href}" th:target="${favorite.target}">访问</a></td>
        </tr>

        <tr>
            <td colspan="3" style="text-align: center"><b>技术博客</b></td>
        </tr>
        <tr th:each="favorite: ${favorites.blog}">
            <td th:text="${favorite.name}"></td>
            <td th:text="${favorite.remark}"></td>
            <td><a class="layui-btn layui-btn-xs" th:href="${favorite.href}" th:target="${favorite.target}">访问</a></td>
        </tr>

        <tr>
            <td colspan="3" style="text-align: center"><b>友情链接</b></td>
        </tr>
        <tr th:each="favorite: ${favorites.friend}">
            <td th:text="${favorite.name}"></td>
            <td th:text="${favorite.remark}"></td>
            <td><a class="layui-btn layui-btn-xs" th:href="${favorite.href}" th:target="${favorite.target}">访问</a></td>
        </tr>
    </table>
</div>

<div th:include="footer"></div>

<script src="https://cdn.staticfile.org/layui/2.6.10/layui.min.js"></script>
<script src="/static/main/main.js"></script>
</body>
</html>
