<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${note.title+'-'+title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.6.10/css/layui.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/vditor/3.8.15/index.min.css"/>
    <link rel="stylesheet" href="/assets/global/css/global.css">
</head>
<body>

<div th:include="header"></div>

<div class="layui-container">
    <h1 align="center" style="margin-top: 20px;font-weight: 600;" th:text="${note.title}">笔记标题</h1>
    <h3 style=" margin-top: 15px;text-align: center;" th:text="${#dates.format(note.updateTime,'yyyy-MM-dd HH:mm:ss')}">
        1970-01-01 00:00:00</h3>
    <hr/>
    <div id="preview" style="padding: 0px 20px 20px 20px;"></div>
</div>

<div th:include="footer"></div>

<script id="inputDialog" type="text/html">
    <div class="layui-form"
         style="padding: 25px 25px 5px 25px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
        <div class="layui-form-item">
            <div class="layui-form-mid">请输入访问密码：</div>
            <div class="layui-input-inline">
                <input id="secret" required="required" placeholder="请输入访问密码" autocomplete="off"
                       class="layui-input" th:value="${data.inputSecret}">
            </div>
            <div class="layui-form-mid" style="color: red;" th:if="${!data.success}"
                 th:text="${data.message}"></div>
        </div>
    </div>
</script>

<script src="https://cdn.staticfile.org/layui/2.6.10/layui.min.js"></script>
<script src="https://cdn.staticfile.org/vditor/3.8.15/method.min.js"></script>
<script th:inline="javascript">
    Vditor.preview(document.getElementById('preview'), [[${note.content}]], {
        cdn: 'https://unpkg.com/vditor@3.8.15/',
        anchor: 1
    });

    layui.use('layer', function () {
        var $ = layui.jquery, layer = layui.layer, util = layui.util;

        // 密码输入
        let def = {
            type: 1,
            title: false,
            closeBtn: false,
            area: '300px;',
            shade: 0.8,
            id: 'shareSecretInput',
            btn: ['确认', '清空'],
            yes: function (index, layero) {
                location.href = location.href.split("?")[0] + "?secret=" + $("#secret").val();
            },
            btn2: function (index, layero) {
                $("#secret").val("");
                return false;
            },
            btnAlign: 'c',
            moveType: 1,
            content: $("#inputDialog").html()
        }
        if ([[${data.showDialog}]]) {
            layer.open(def);
        }

        // 返回顶部
        util.fixbar({bar1: false, bar2: false});
    });
</script>
</body>
</html>
