<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${note.title+'-'+title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.6.10/css/layui.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/vditor/3.8.17/index.min.css"/>
    <link rel="stylesheet" href="/static/main/main.css">
    <link rel="stylesheet" href="/static/note/note.css">
</head>
<body>

<div th:include="header"></div>

<div class="layui-container note">
    <h1 align="center" style="margin-top: 20px;font-weight: 600;" th:text="${note.title}">笔记标题</h1>
    <h3 style=" margin-top: 15px;text-align: center;" th:text="${#dates.format(note.updateTime,'yyyy-MM-dd HH:mm:ss')}">
        1970-01-01 00:00:00</h3>
    <div id="preview"></div>
    <div class="layui-layer layui-anim layui-anim-down noteOutline">
        <div class="layui-layer-title">Markdown内容大纲</div>
        <div id="outline"></div>
    </div>
</div>

<div th:include="footer"></div>

<script id="inputDialog" type="text/html">
    <div class="secret-main">
        <p>请输入访问密码：</p>
        <p><input id="secret" placeholder="请输入访问密码" autocomplete="off" class="layui-input"
                  th:value="${data.inputSecret}"></p>
        <p style="color: red;" th:if="${!data.success}" th:text="${data.message}"></p>
    </div>
</script>

<script th:inline="javascript" type="text/javascript">
    var noteMarkdown = [[${note.content}]];
    if (!noteMarkdown) {
        noteMarkdown = "";
    }
    var noteShowDialog = [[${data.showDialog}]];
</script>
<script src="https://cdn.staticfile.org/layui/2.6.10/layui.min.js"></script>
<script src="https://cdn.staticfile.org/vditor/3.8.15/method.min.js"></script>
<script src="/static/main/main.js"></script>
<script src="/static/note/note.js"></script>
</body>
</html>
