<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.favorite.mapper.FavArticleMapper">

    <resultMap type="FavArticle" id="FavArticleResult">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="digest" property="digest"/>
        <result column="source" property="source"/>
        <result column="release_date" property="releaseDate"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <collection column="id" property="tags" ofType="Long" javaType="java.util.List"
                    select="selectArticleTags">
            <result column="tag_id"/>
        </collection>
    </resultMap>

    <sql id="selectToolArticleVo">
        select id,
               title,
               url,
               digest,
               source,
               release_date,
               create_by,
               create_time
        from fav_article
    </sql>
    
    <select id="selectArticleTags" parameterType="Long" resultType="Long">
        select tag_id
        from fav_article_tag
        where article_id = #{id}
    </select>
    
    <select id="selectFavArticleList" resultMap="FavArticleResult">
        <include refid="selectToolArticleVo"/>
        <where>
            <if test="data.title != null  and data.title != ''">and title LIKE CONCAT('%', #{data.title}, '%')</if>
            <if test="data.url != null  and data.url != ''">and url = #{data.url}</if>
            <if test="data.digest != null  and data.digest != ''">and digest LIKE CONCAT('%', #{data.digest}, '%')</if>
            <if test="data.source != null  and data.source != ''">and source = #{data.source}</if>
            <if test="data.releaseDate != null ">and release_date = #{data.releaseDate}</if>
            <if test="data.tags != null ">
                and id in (select article_id from fav_article_tag where tag_id in
                <foreach item="tag" collection="data.tags" open="(" separator="," close=")">
                    #{tag}
                </foreach>)
            </if>
        </where>
        order by release_date desc, id desc
    </select>

    <select id="selectFavArticleById" parameterType="Long" resultMap="FavArticleResult">
        <include refid="selectToolArticleVo"/>
        where fav_article.id = #{id}
    </select>

    <delete id="deleteFavArticleTagsById" parameterType="Long">
        delete
        from fav_article_tag
        where article_id = #{id}
    </delete>

    <insert id="insertFavArticleTags" parameterType="FavArticle">
        insert into fav_article_tag (article_id, tag_id) values
        <foreach item="tag" collection="tags" separator=",">
            ( #{id}, #{tag} )
        </foreach>
    </insert>

</mapper>
