<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.favorite.mapper.FavArticleMapper">

    <resultMap type="FavArticle" id="FavArticleResult">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="digest" property="digest"/>
        <result column="source" property="source"/>
        <result column="created" property="created"/>
        <collection column="id" property="tags" ofType="string" javaType="java.util.List"
                    select="selectFavArticleTagsById">
            <result column="tag_code"/>
        </collection>
    </resultMap>

    <sql id="selectToolArticleVo">
        select id,
               title,
               url,
               digest,
               source,
               created
        from fav_article
    </sql>

    <select id="selectFavArticleList" parameterType="FavArticle" resultMap="FavArticleResult">
        <include refid="selectToolArticleVo"/>
        <where>
            <if test="title != null  and title != ''">and title LIKE CONCAT('%', #{title}, '%')</if>
            <if test="url != null  and url != ''">and url = #{url}</if>
            <if test="digest != null  and digest != ''">and digest LIKE CONCAT('%', #{digest}, '%')</if>
            <if test="source != null  and source != ''">and source = #{source}</if>
            <if test="created != null ">and created = #{created}</if>
            <if test="tags != null ">
                and id in (select article_id from fav_article_tag where tag_code in
                <foreach item="tag" collection="tags" open="(" separator="," close=")">
                    #{tag}
                </foreach>)
            </if>
        </where>
        order by created desc, id desc
    </select>

    <select id="selectFavArticleById" parameterType="Long" resultMap="FavArticleResult">
        <include refid="selectToolArticleVo"/>
        where fav_article.id = #{id}
    </select>

    <insert id="insertFavArticle" parameterType="FavArticle" useGeneratedKeys="true" keyProperty="id">
        insert into fav_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="digest != null">digest,</if>
            <if test="source != null">source,</if>
            <if test="created != null">created,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="digest != null">#{digest},</if>
            <if test="source != null">#{source},</if>
            <if test="created != null">#{created},</if>
        </trim>
    </insert>

    <update id="updateFavArticle" parameterType="FavArticle">
        update fav_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="digest != null">digest = #{digest},</if>
            <if test="source != null">source = #{source},</if>
            <if test="created != null">created = #{created},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFavArticleById" parameterType="Long">
        delete
        from fav_article
        where id = #{id}
    </delete>

    <delete id="deleteFavArticleByIds" parameterType="String">
        delete from fav_article where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFavArticleTagsById" parameterType="Long">
        delete
        from fav_article_tag
        where article_id = #{id}
    </delete>

    <insert id="insertFavArticleTags" parameterType="FavArticle">
        insert into fav_article_tag (article_id, tag_code) values
        <foreach item="tag" collection="tags" separator=",">
            ( #{id}, #{tag} )
        </foreach>
    </insert>

    <select id="selectFavArticleTagsById" parameterType="Long" resultType="String">
        select tag_code
        from fav_article_tag
        where article_id = #{id}
    </select>

</mapper>
