<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devzyh.xhub.favorite.mapper.FavLinkMapper">
    
    <resultMap type="FavLink" id="FavLinkResult">
        <result property="id" column="id"/>
        <result property="item" column="item"/>
        <result property="name" column="name"/>
        <result property="href" column="href"/>
        <result property="icon" column="icon"/>
        <result property="seq" column="seq"/>
        <result property="target" column="target"/>
        <result property="visits" column="visits"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectToolFavoriteVo">
        select id,
               item,
               name,
               href,
               remark,
               icon,
               seq,
               target,
               visits,
               create_by,
               create_time
        from fav_link
    </sql>

    <select id="selectFavLinkList" resultMap="FavLinkResult">
        <include refid="selectToolFavoriteVo"/>
        <where>
            <if test="data.item != null  and data.item != ''">and item = #{data.item}</if>
            <if test="data.name != null  and data.name != ''">and name like concat('%', #{data.name}, '%')</if>
            <if test="data.href != null  and data.href != ''">and href = #{data.href}</if>
            <if test="data.icon != null  and data.icon != ''">and icon = #{data.icon}</if>
            <if test="data.seq != null ">and seq = #{data.seq}</if>
            <if test="data.target != null  and data.target != ''">and target = #{data.target}</if>
        </where>
        order by item, seq
    </select>
    
</mapper>
