<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Markdown编辑器</title>
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.devzyh.cn/editor.md/1.5.0/css/editormd.css"/>
</head>
<body>
<div>
    <div id="md-editor">
    <textarea style="display:none;">### 关于 Editor.md
**Editor.md** 是一款开源的、可嵌入的 Markdown 在线编辑器（组件），基于 CodeMirror、jQuery 和 Marked 构建。
    </textarea>
    </div>
</div>

<script src="https://cdn.devzyh.cn/editor.md/1.5.0/js/jquery.min.js"></script>
<script src="https://cdn.devzyh.cn/editor.md/1.5.0/editormd.min.js"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("md-editor", {
            width: "100%",
            height: $(window).height() - 25,
            path: "https://cdn.devzyh.cn/editor.md/1.5.0/lib/",
            toolbarIcons: function () {
                return ["save", "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|", "help"]
            },
            toolbarIconsClass: {
                save: "fa fa-save"
            },
            toolbarIconTexts: {
                save: "保存"
            },
            toolbarHandlers: {
                save: function (cm, icon, cursor, selection) {
                    alert("success")
                }
            },
            onload: function () {
                this.fullscreen();
                $(".CodeMirror-gutters").height($(".editormd-preview").height());
                $(window).bind("keyup", escHandle);

            }
        });

        $(document).keyup(function (e) {
            var key = e.which || e.keyCode;
            if (key == 27) {
                console.log("esc")
                window.event.keyCode = 0;
                window.event.returnValue = false;
            }
        });
    });
</script>
</body>
</html>
