<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${note.title+'-'+title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" th:href="${public_cdn + '/layui/2.6.8/css/layui.min.css'}">
    <link rel="stylesheet" th:href="${public_cdn + '/vditor/3.8.18/index.min.css'}"/>
    <link rel="stylesheet" href="/static/markdown/share.css"/>
</head>
<body>
<div class="left">
    <div class="outline">
        <div class="layui-layer-title title">
            <span>Markdown内容大纲</span>
        </div>
        <div id="outline"></div>
    </div>
</div>
<div class="right">
    <div class="header">
        <h1 th:text="${note.title}"></h1>
    </div>
    <div class="preview">
        <div id="preview"></div>
        <div class="meta">
            <span>
                <i class="layui-icon layui-icon-username"></i>&nbsp;
                <span th:text="${note.createBy}"></span>
            </span>
            <span>&nbsp;&nbsp;</span>
            <span>
                <i class="layui-icon layui-icon-time"></i>&nbsp;
                <span th:text="${#dates.format(note.updateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
            </span>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var cdnUrl = [[${public_cdn}]];
    var markdown = [[${note.content}]];
</script>
<script th:src="${public_cdn + '/layui/2.6.8/layui.min.js'}"></script>
<script src="/static/markdown/method.min.js"></script>
<script src="/static/markdown/share.js"></script>
</body>
</html>
